{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="padding: 20px;">
    <h1>The Mars Rover Tech Challenge</h1>
    <h3>Please enter the below data and then click Submit:</h3>
    {% crispy form form.helper %}
  <!--
  <h1>Mars Rover Inputs</h1>
    <p>Please enter the following data to move the rover:</p>
        <form action="#" method="get">
        <input type="submit" class="btn" value="Click" name="mybtn">
            <button type="submit">Submit</button>
        </form>
        -->
  </body>
</html>